*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'PT Sans', sans-serif;
}

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

/************* HEADER SECTION **************/
header{
    background-color: #0084FD;
    padding: 10px 100px;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav{
    display: flex;
    align-items: center;

    margin-right: 70px;
}

header nav ul{
    display: flex;
    gap: 30px;
}

header nav ul li a{
    color: white;
    font-size: 18px;
}

header nav button{
    color: black;
    border: none;
    border-radius: 50px;
    background-color: white;
    margin-left: 30px;
    padding: 10px;
}

header nav span{
    display: none;
}


/*************** PLANNING SECTION ****************/
.planning-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin-top: 100px;
}


.planning-section .row-1,
.planning-section .row-2
{
    display: flex;
    justify-content: space-between;

    
    width: 90%;
    padding: 20px;
}

.planning-section .row-1 .box,
.planning-section .row-2 .box
{
    background-color: #B5DDFF;
    
    border-radius: 20px;
}

.planning-section .row-1 .box-big{
    display: flex;

    width: 65%;
}

.planning-section .row-1 .box-small,
.planning-section .row-2 .box-small{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-block: 30px;
}

.planning-section .row-1 .box-small h2,
.planning-section .row-2 .box-small h2
{
    color: #0084FD; 
    margin-top: 20px;
}

.planning-section .row-1 .box-small i,
.planning-section .row-2 .box-small i
{
    color: #0084FD;
    font-size: 80px;
}

.planning-section .row-1 .box-small p,
.planning-section .row-2 .box-small p
{
    color: #5A6E7F;
    margin-top: 20px;
    padding: 25px;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
}

.planning-section .row-1 .box .left-box,
.planning-section .row-1 .box .right-box
{
    display: flex;
    width: 50%;
    padding: 30px;
}

.planning-section .row-1 .box .left-box{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.planning-section .row-1 .box .left-box h3{
    color: #0084FD;
    font-size: 25px;
}

.planning-section .row-1 .box .left-box p{
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    color: #5A6E7F;
}

.planning-section .row-1 .box .left-box a{
    background-color: #0084FD;
    color: white;
    width: 180px;
    padding: 10px;
    border-radius: 25px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.planning-section .row-1 .box .left-box i{
    margin-right: 10px;
}

.planning-section .row-1 .box .right-box{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;

    padding-bottom: 0;
}


.planning-section .row-1 .box .right-box img{
    margin-top: 40px;
    width: 80%;
    
}

/********** SECOND SECTION ***********/
.second-section{
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 80px;
    background-color:#9792E4 ;
}

.second-section .wrapper{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 70%;
    padding: 20px;
}

.second-section .wrapper .block-1,
.second-section .wrapper .block-2{
    margin-inline: 50px;
}

/* DIMENSIONI BLOCCHI */
.second-section .wrapper .block-1{
    width: 32%;
    color: white;
}

.second-section .wrapper .block-2{
    width: 30%;
    padding: 50px;
    text-align: center;
    background-color: white;
    border-radius: 50px;
}

/* IMG STYLE */
.second-section .wrapper .block-1 img,
.second-section .wrapper .block-2 img{
    width: 100%;
}

.second-section .wrapper .block-1 img{
    padding-block: 80px;
}

.second-section .wrapper .block-2 img{
    padding-bottom: 15px;
}

/* TEXT STYLE */
.second-section .wrapper .block-1 h3{
    font-size: 35px;
    margin-bottom: 50px;
}

.second-section .wrapper .block-1 p{
    line-height: 25px;
    font-weight: 300;
}

.second-section .wrapper .block-2 h3{
    font-size: 23px;
    margin-bottom: 20px;
}

.second-section .wrapper .block-2 p{
    font-style: italic;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 30px;
}

.second-section .wrapper .block-2 a{
    background-color: #9792E4;
    border-radius: 60%;
    color: black;
    font-size: 20px;
    padding: 10px 15px;
}

/*************** TESTIMONIAL SECTION ****************/
.testimonial-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    padding-top: 50px;
    padding-bottom: 100px;
    padding-inline: 300px;
}

.testimonial-section .top-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center; 
}

.testimonial-section .top-container h4{
    font-weight: 300;
}

.testimonial-section .top-container h1{
    color: #9792E4;
    font-size: 50px;
}

.testimonial-section .top-container p{
    font-size: 20px;
    line-height: 35px;
    font-weight: 500;
    
}

.testimonial-section .card{
    display: flex;
    align-items: center;

    background-color: #9792E4;
    color: white;
    border-radius: 30px;
    padding: 30px;
}

.testimonial-section .card .left-card{
    display: flex;
    align-items: center;
  
    margin-right: 30px;
}

.testimonial-section .card img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.testimonial-section .card .right-card blockquote{
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 30px;
}

.testimonial-section .card .right-card i{
    font-size: 25px;
}


/******************* BENEFITS SECTION *****************/
.benefits-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    
    background-color: #9792E4;
    padding-block: 30px;
}

.benefits-section > h2{
    font-size: 50px;
    color: white;
    margin-top: 20px;
}

.benefits-section .container-benefits{
    display: flex;
    flex-wrap: wrap;
    width: 65%;
    margin-top: 30px;
}

.benefits-section .container-benefits .benefit{
    display: flex;
    flex-direction: column;
    gap: 15px;

    width: calc(100% / 3 - (40px));
    margin-inline: 20px;
    margin-block: 20px;
    background-color: white;
    padding: 30px;
    border-radius: 20px;
}

.benefits-section .container-benefits .benefit h2,
.benefits-section .container-benefits .benefit h3
{
    color: #9792E4;
}

.benefits-section .container-benefits .benefit h2{
    font-size: 65px;
}

.benefits-section .container-benefits .benefit h3{
    font-size: 25px;
    margin-bottom: 20px;
}

.benefits-section .container-benefits .benefit p{
    color: #737373;
    line-height: 25px;
    margin-bottom: 30px;
}

.benefits-section .container-benefits .benefit a{
    color: white;
    background-color: #9792E4;
    letter-spacing: 2px;
    border-radius: 20px;
    padding: 10px;
    width: 150px;
    text-align: center;
    font-weight: bold;
}


/************** ABOUT US SECTION ******************/
.about-us-section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 50px;
}

.about-us-section .container{
    display: flex;
    justify-content: center;
    gap: 60px;

    padding-block: 50px;
    width: 60%;
}


/* STYLE TEXT-IMG */
.about-us-section .container .left-section h2{
    font-size: 80px;
    color: #9792E4;
    margin-bottom: 30px;
}

.about-us-section .container .left-section p{
    margin-bottom: 40px;
    font-size: 22px;
    line-height: 40px;
    font-weight: 300;
}

.about-us-section .container .right-section{
    margin-top: 30px;
}

.about-us-section .container .right-section img{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.about-us-section .container .right-section figure{
    position: relative;
}

.about-us-section .container .right-section figure i{
    position: absolute;
    top: 0;
    right: -30px;
    color: #9792E4;
    font-size: 80px;
}

.about-us-section .container .right-section h3{
    color: #9792E4;
    font-size: 30px;
    margin-bottom: 30px;
}

.about-us-section .container .right-section a{
    background-color: #9792E4;
    color: white;
    padding: 10px;
    border-radius: 15px;
    
}


/******************** CTA SECTION ***********************/
.cta-section{
    display: flex;
    justify-content: center;
    background-color: #9792E4;
    text-align: center;
    padding-block: 50px;
}

.cta-section .top-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cta-section .top-container h4{
    color:  rgba(255, 255, 255, 0.541);
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.cta-section .top-container h3{
    color: white;
    font-size: 40px;
    margin-bottom: 20px;
}

.cta-section .top-container h2{
    color: #FDC15F;
    font-size: 90px;
    margin-bottom: 20px;
}

.cta-section .top-container p{
    color: white;
    width: 60%;
    font-size: 19px;
    line-height: 30px;
    margin-bottom: 30px;
}

.cta-section .top-container > a{
    background-color: white;
    border-radius: 60px;
    padding: 20px 80px;
    font-size: 20px;
    font-weight: bold;
    color: #9792E4;
    margin-bottom: 30px;
}

.cta-section .top-container span{
    color: white;
}

.cta-section .top-container span > a{
    text-decoration: underline;
    color: white;
}


/***************** FOOTER *******************/
footer{
    background-color: #333333;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    padding-block: 50px;
    gap: 50px;
}

footer p{
    width: 30%;
}

footer a{
    text-decoration: underline;
    color: #9792E4;
}



/**************************************************************************************************************************
**************************************************************************************************************************

MEDIA QUERIES

**************************************************************************************************************************
**************************************************************************************************************************/
@media screen and (max-width: 768px){
    
    header{
        justify-content: space-between;
        padding: 10px 30px;

    }

    header nav{
        margin-right: 0;
    }

    header nav ul,
    header nav button
    {
        display: none;
    }

    header nav span{
        display: flex;
        align-items: center;

        color: white;
        font-size: 30px;
    }
    
    
    /******** PANNING SECTION *********/
    .planning-section .row-1 .box-big{
        display: block;
    }

    .planning-section .row-1 .box .left-box,
    .planning-section .row-1 .box .right-box
    {
        display: flex;
        width: 85%;
    }

    .planning-section .row-1 .box .left-box{
        gap: 30px;
    }

    .planning-section .row-1 .box .right-box img{
        margin-top: 0;
        width: 60%; 
    }

    .planning-section .row-1 .box .right-box{
        justify-content: flex-start;
        flex-direction: row;
    }

    /******** SECOND SECTION **********/
    .second-section .wrapper{
        flex-direction: column;
        align-items: center;
        gap: 30px;
        width: 100%;
    }

    .second-section .wrapper .block-1,
    .second-section .wrapper .block-2{
        width: 90%;
    }

    .second-section .wrapper .block-1 h3{
        font-size: 60px;
    }


    /*************** TESTIMONIAL CARDS ***************/
    .testimonial-section{
        padding-inline: 20px;
    }

    
    /******************* BENEFITS SECTION *****************/
    .benefits-section .container-benefits .benefit{
    gap: 15px;

    width: calc(100% / 2 - (20px));
    margin-inline: 10px;
    margin-block: 10px;
    }
    
    .benefits-section .container-benefits{
        width: 90%;
    }


    /************** ABOUT US SECTION ******************/
    .about-us-section .container{
        gap: 30px;
        padding-block: 50px;
        width: 90%;
        align-items: flex-start;
    }

    .about-us-section .container .left-section{
        flex-basis: 60%;
    }
    
    .about-us-section .container .right-section{
        
        flex-basis: 40%;
    }

    .about-us-section .container .right-section img{
        width: 100%;
        height: 100%;
    }

}

/**************** MOBILE MEDIA QUERY ******************/
@media screen and (max-width: 480px){
    /*********** PLANNING SECTION ***********/
    .planning-section .row-1,
    .planning-section .row-2
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .planning-section .row-1 .box-small,
    .planning-section .row-2 .box-small
    {
        width: 90%;
    } 

    .planning-section .row-1 .box-big{
        display: block;
    
        width: 90%;
    }

    .planning-section .row-1 .box .left-box,
    .planning-section .row-1 .box .right-box{
        width: 80%;
    }

    .planning-section .row-1 .box .left-box{
        gap: 0;
    }

    .planning-section .row-1 .box .left-box h3{
        justify-content: center;
    }

    .planning-section .row-1 .box .right-box{
        justify-content: center;
    
        padding-bottom: 0;
    }
    
    .planning-section .row-1 .box-small p,
    .planning-section .row-2 .box-small p
    {
        margin: 0;
        justify-content: center;
    }

    .planning-section .row-1 .box .right-box img{
        width: 100%;
    }



    /********** SECOND SECTION ***********/

    .second-section .wrapper .block-1 h3{
        font-size: 30px;
    }


    /***************** TESTIMONIAL CARDS ****************/
    .testimonial-section{
        padding-inline: 20px;
    }

    .testimonial-section .card{
       display: block;
       text-align: center;
    }

    .testimonial-section .card .left-card{
        display: flex;
        justify-content: center;
        align-items: center;

        margin-bottom: 10px;
        width: 100%;
    }


    /**************** BENEFITS SECTION *****************/
    .benefits-section .container-benefits .benefit{
        gap: 15px;
    
        width: calc(100% / 1 - (20px));
        margin-inline: 10px;
        margin-block: 10px;
    }
        
    .benefits-section .container-benefits{
        width: 80%;
    }

    .benefits-section > h2{
        font-size: 35px;
        color: white;
        margin-top: 20px;
    }

    
    /************ ABOUT US ***************/
    .about-us-section{
        flex-direction: column;
    }

    .about-us-section .container{
        flex-direction: column;
        align-items: center;
    }

    .about-us-section .container .right-section img{
        position: relative;
        width: 50%;
        height: 40%;
    }

    .about-us-section .container .right-section figure i{
        display: none;
    }

    .about-us-section .container .left-section h2{
        font-size: 35px;
    }
    
    .about-us-section .container .left-section p{
        font-size: 20px;
    }

    .about-us-section .container .right-section{
        margin-top: 0;
    }


    /****************** CTA SECTION *********************/
    .cta-section .top-container h4{
        font-size: 18px;
    }
    
    .cta-section .top-container h3{
        color: white;
        font-size: 30px;
        margin-bottom: 20px;
    }
    
    .cta-section .top-container h2{
        color: #FDC15F;
        font-size: 60px;
        margin-bottom: 20px;
    }
    
    .cta-section .top-container p{
        width: 80%;
        font-size: 18px;
        line-height: 30px;
    }


    /******************* FOOTER *********************/
    footer p{
        width: 80%;
    }
}