S*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'PT Sans', sans-serif;
}

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

/* HEADER SECTION */
header{
    background-color: #0084FD;
    padding: 10px 100px;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav{
    display: flex;
    align-items: center;

    margin-right: 70px;
}

header nav ul{
    display: flex;
    gap: 30px;
}

header nav ul li a{
    color: white;
    font-size: 18px;
}

header nav button{
    color: black;
    border: none;
    border-radius: 50px;
    background-color: white;
    margin-left: 30px;
    padding: 10px;
}

header nav span{
    display: none;
}


/* PLANNING SECTION */
.planning-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin-top: 100px;
}


.planning-section .row-1,
.planning-section .row-2
{
    display: flex;
    justify-content: space-between;

    
    width: 90%;
    padding: 20px;
}

.planning-section .row-1 .box,
.planning-section .row-2 .box
{
    background-color: #B5DDFF;
    
    border-radius: 20px;
}

.planning-section .row-1 .box-big{
    display: flex;

    width: 65%;
}

.planning-section .row-1 .box-small,
.planning-section .row-2 .box-small{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-block: 30px;
}

.planning-section .row-1 .box-small h2,
.planning-section .row-2 .box-small h2
{
    color: #0084FD; 
    margin-top: 20px;
}

.planning-section .row-1 .box-small i,
.planning-section .row-2 .box-small i
{
    color: #0084FD;
    font-size: 80px;
}

.planning-section .row-1 .box-small p,
.planning-section .row-2 .box-small p
{
    color: #5A6E7F;
    margin-top: 20px;
    padding: 25px;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
}

.planning-section .row-1 .box .left-box,
.planning-section .row-1 .box .right-box
{
    display: flex;
    width: 50%;
    padding: 30px;
}

.planning-section .row-1 .box .left-box{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.planning-section .row-1 .box .left-box h3{
    color: #0084FD;
    font-size: 25px;
}

.planning-section .row-1 .box .left-box p{
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    color: #5A6E7F;
}

.planning-section .row-1 .box .left-box a{
    background-color: #0084FD;
    color: white;
    width: 180px;
    padding: 10px;
    border-radius: 25px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.planning-section .row-1 .box .left-box i{
    margin-right: 10px;
}

.planning-section .row-1 .box .right-box{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;

    padding-bottom: 0;
}


.planning-section .row-1 .box .right-box img{
    margin-top: 40px;
    width: 80%;
    
}






/**************************************************************************************************************************
**************************************************************************************************************************

MEDIA QUERIES

**************************************************************************************************************************
**************************************************************************************************************************/
@media screen and (max-width: 768px){
    
    header{
        justify-content: space-between;
        padding: 10px 30px;

    }

    header nav{
        margin-right: 0;
    }

    header nav ul,
    header nav button
    {
        display: none;
    }

    header nav span{
        display: flex;
        align-items: center;

        color: white;
        font-size: 30px;
    }

    /* Rimane invariato sia per tablet che mobile */
    
    
    /* PANNING SECTION */
    .planning-section .row-1 .box-big{
        display: block;
    }

    .planning-section .row-1 .box .left-box,
    .planning-section .row-1 .box .right-box
    {
        display: flex;
        width: 85%;
    }

    .planning-section .row-1 .box .left-box{
        gap: 30px;
    }

    .planning-section .row-1 .box .right-box img{
        margin-top: 0;
        width: 60%; 
    }

    .planning-section .row-1 .box .right-box{
        justify-content: flex-start;
        flex-direction: row;
    }

    
}

/* MOBILE MEDIA QUERY */
@media screen and (max-width: 480px){
    /* PLANNING SECTION */
    .planning-section .row-1,
    .planning-section .row-2
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .planning-section .row-1 .box-small,
    .planning-section .row-2 .box-small
    {
        width: 90%;
    } 

    .planning-section .row-1 .box-big{
        display: block;
    
        width: 90%;
    }

    .planning-section .row-1 .box .left-box,
    .planning-section .row-1 .box .right-box{
        width: 80%;
    }

    .planning-section .row-1 .box .left-box{
        gap: 0;
    }

    .planning-section .row-1 .box .left-box h3{
        justify-content: center;
    }

    .planning-section .row-1 .box .right-box{
        justify-content: center;
    
        padding-bottom: 0;
    }
    
    .planning-section .row-1 .box-small p,
    .planning-section .row-2 .box-small p
    {
        margin: 0;
        justify-content: center;
    }

    .planning-section .row-1 .box .right-box img{
        width: 100%;
    }

}